.my-button {
  background-color: #f4ce14;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: 12rem;
  box-shadow: 1px;
  margin-top: 0.5rem;

  .text {
    color: black;
    font-size: 1.3rem;
  }
}
