/* Specials container ************************************************** */
.specials-container {
  padding: 5rem 0;

  .sub-container1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);

    .sub-container1-item1 {
      margin-left: 15rem;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
    }

    .sub-container1-item2 {
      text-align: center;
    }
  }

  .sub-container2 {
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(3, 400px);
    grid-column-gap: 0ch;
    justify-content: center;
  }
}

/* Testmonials container ************************************************** */

.testimonials-container {
  display: grid;
  margin: 5rem 0;
  padding: 3rem;
  background: #495e57;

  .container-item1 {
    text-align: center;
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
    }
  }

  .container-item2 {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    grid-column-gap: 0ch;
    margin-top: 2rem;
  }
}

/* display container ************************************************** */
.display-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem 0;
  justify-items: center;

  .container-item1 {
    width: 30rem;
    height: auto;

    h1 {
      color: #f4ce14;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
    }

    p {
      font-family: "Poppins", sans-serif;
      margin: 5px 0;
    }
  }

  .container-item2 {
    .img {
      width: 20rem;
      height: auto;
      border: 1px solid;
    }

    .image1 {
      position: relative;
      top: 80px;
      left: 80px;
    }
    .image2 {
    }
  }
}
