.container {
  margin-top: 10vh;
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #edefee;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  .container-item1 {
    width: 100%;
    height: 40%;
    img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .container-item2 {
    .container-item2-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .title {
        font-size: 18px;
        font-family: "Karla", "serif";
        font-weight: 700;
        padding: 2vh;
        display: flex;
        justify-content: space-between;
      }

      .price {
        text-align: end;
        color: red;
        padding-right: 1rem;
      }
    }

    .container-item2-2 {
      padding: 0 1rem;
    }

    .container-item2-3 {
      display: flex;
      flex-direction: row;
      padding: 2vh;
      gap: 10px;

      a {
        text-decoration: none;
        color: #333333;
        &:hover {
          color: #f4c14e;
        }
      }
      &:hover {
        color: #f4c14e;
      }
      img {
        height: auto;
        width: 3rem;
      }
    }
  }
}
