.header-container {
  background-color: #938f8f;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 3rem;

  .container-item1 {
    margin-left: 15rem;
  }

  .container-item2 {
    text-align: center;
    img {
      height: 19rem;
      width: auto;
    }
  }
}
