nav{
    display: inline-grid;

    img {
      grid-column-start: 2;
      width: auto;
      height: 8rem;
      left:10rem;
      position: relative;
    }

    ul{
      position:absolute;
      right:15rem;
      top: 50px;


      li{
        display: inline-flex;
        margin-left: 1rem;
        
        a {
          text-decoration: none;
          color: black;
        }

      }
    }
  }
